* {
   margin: 0;
   padding: 0;
   outline: 0;
   font-family: 'Montserrat', sans-serif;
   box-sizing: border-box;
}
li{
   list-style: none;
}
a{
   text-decoration: none;
}
.btn_color{
   background: #1B51F5 !important;
   color: #fff !important;
}
.btn_color:hover {
   background: #0026F8 !important;
}
.img-fluid {
   max-width: 100%;
   height: auto;
}
html,body{
   box-sizing: border-box;
   height: 100%;
}
}
div {
   box-sizing: border-box;
}
.text-center{
   text-align: center;
}
.c_btn_padding{
   display: inline-block;
   padding: 8px;
}
html {
    min-height: 100%;
}